body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#example-code-btn{
  position: absolute;
  top: 100px;
  right: -60px;
  transform: rotate(90deg);
}
.contentModalExampleCode {
  margin: 30px;
  padding: 10px;
  background-color: #fff;
  height: 80%;
  border-radius: 5px;
  overflow: auto;;
}
.active.positionPesudo {
  background-color: #dddd;
}